.tripContainer {
  display: flex;
  flex-direction: row;
  border: solid black 2px;
  min-width: 50%;
  max-width: 80%;
  height:200px;
  margin-top: 70px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #2E3B55;
}