.autocomplete {
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  width: 104%;
  height: 50%;

  & button {
    display: flex;
    align-items: center;
    height: 76%;
    width: 100%;
    margin-top: 10px;
    background: none;
    border: solid rgb(199, 199, 199) 1px;
    border-radius: 5px;
    background-color: white;￼

    & svg {
      font-size: 5px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.innerAutocomplete {
height: 70%;
}